/* Form.css */
#main-registration-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    /*background-image: url("https://res.cloudinary.com/dyrrmsdbj/image/upload/v1688962660/clear-your-mind-vector-concept_u9iadz.jpg"); */
     background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 10px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
     color: #faf7f7;
    font-family: cursive;
      /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));  */
  }
  
  #register {
    margin-top: 20px;
   
  }
  h1 {
    text-align: center;
    font-size: 24px;
    font-style:oblique;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  .errorMsg {
    color: red;
    font-size: 14px;
  }
  
  label {
   /* font-weight: bold;*/
    font-style: italic;
  }
  
  input[type="text"],
  input[type="password"],
  select {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .gender {
    margin-top: 10px;
  }
  
  .stream {
    margin-top: 10px;
  }
  .p {
    background-image: url("https://res.cloudinary.com/dyrrmsdbj/image/upload/v1689141245/Untitled_beuvwy.jpg");
    background-size: cover;
    background-position: center;
  }